:root{
    --width-sidebar-right: 400px;
    --height-sidebar-right: 200px;

    --width-sidebar-left: 300px;
    --height-sidebar-left: 100vh;
}

/* sidebar-button-left-chat */
.sidebar-left-chat{
    position: fixed;
    left: 0;
    top: 80px;
    width: var(--width-sidebar-left);
    height: var(--height-sidebar-left);
    border-right: 1px solid #c9bebe;
    flex: 1;
    overflow-x: scroll;
    padding-bottom: 80px;
}

.menu-chat-left{
    position: fixed;
    background-color: #E1E1E4;
    width: 283px;
    top: 80px;
}

.sidebar-button-left-chat{
    display: flex;
    justify-content: start;
    margin: 10px;
    left: 0;
    border: none;
    background: #E1E1E4;
    padding: 10px;
    border-radius: 7px;
    width: 280px;
    padding-right:"100px";
    white-space:"nowrap";
    cursor: pointer;
}

.sidebar-icon-chat{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-top: 5px;
}

.chat-friends{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: -15px;
    margin-top: 4px;
}

.Name-icon-chat{
    white-space: nowrap;
    padding: 5px 0 0 0;
}

.nametab-left{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    cursor: default;
}

.sidebar-button-left-chat:hover{
    opacity: 0.7;
    background: #fcfcfc8f;
}
  
.sidebar-button-left-chat:active{
    opacity: 0.6;
}


/* sidebar-button-right */

.sidebar-right-chat{
    position: fixed;
    right: 0;
    top: 80px;
    /* z-index: 1; */
    width: 400px;
    height: 100vh;
    border-left: 1px solid #c9bebe;
    overflow-x: scroll;
    background-color: #c9d6ff;
    background: linear-gradient(to center, #e2e2e2, #c9d6ff);
}

.Bg-right-chat{
    width: var(--width-sidebar-right);
    height: var(--height-sidebar-right);
    object-fit: fill;
}

.avatar-chat-right{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: -70px;
    margin-left: calc(var(--width-sidebar-right) / 2.8);
    cursor: pointer;
}

.inforUser{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 25px;
}

.infor-user-chat h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:"6px";
    font-weight: lighter;
    cursor: default;
}

.infor-user-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chose-inforUser-chat{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon-chose-chat-bell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 5px 0 10px;
    background: #e7e7e7;
    padding: 5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.icon-chose-chat-user{
    width: 37px;
    height: 37px;
    margin: 0 5px 0 10px;
    background: #e7e7e7;
    padding: 5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.icon-chose-chat-bell:hover,
.icon-chose-chat-user:hover,
.btn-chose-sidebar-right button:hover{
    opacity: 0.8;
}

.icon-chose-chat-bell:active,
.icon-chose-chat-user:active,
.btn-chose-sidebar-right button:active{
    opacity: 0.7;
}

.btn-chose-sidebar-right{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-chose-sidebar-right button{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.btn-chose-sidebar-right div{
    margin: 6px;
    font-weight: bolder;
}

.media-img-sidebar{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    margin-bottom: 80px;
}

.media-img-sidebar img{
    width: 117px;
    height: 100px;
    object-fit: fill;
    cursor: pointer;
}

/* contener-chat-friend */

.contener-chat-friend{
    max-width: none;
    height: 100%;
    margin: 100px 400px 0 300px;
}

.header-friend-chat {
    position: fixed;
    top: 80px;
    left: var(--width-sidebar-left);
    width: calc(100% - 700px);
    height: 70px;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #8888;
}

.avatar-friend-chat{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.call-chat-icon{
    margin-left: 20px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.call-chat-icon:hover{
    background-color: #c9d6ff;
    background: linear-gradient(to center, #e2e2e2, #c9d6ff);
    border-radius: 50px;
    border: none;
    opacity: 0.8;
}

.call-chat-icon:active{
    background-color: #d32e2e;
    border-radius: 50px;
    opacity: 0.6;
}

.contener-text-chat{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: calc(100% - 700px);
    height: 65px;
    border-top: 1px solid #8888;
    padding-top: 7px;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.img-chose-chat{
    display: flex;
    justify-content: center;
    width: 100px;
}

.img-text-chat{
    margin: 6px 5px 0px 20px;
    cursor: pointer; 
}

.img-text-chat:hover{
    opacity: 0.8;
}

.img-text-chat:active{
    opacity: 0.5;
}

.icon-send{
    background-color: purple;
    border-radius: 90px;
    width: 32px;
    height: 32px;
    padding: 6px;
    cursor: pointer;
    margin: 6px 30px 0 10px;
}

.chat-container-friend{
    display: flex;
    align-items: center;
    margin: 10px 15px 10px 10px;
    height: 34px;
    margin-top:"5px";
    margin-left:"30px";
    width: 70%;
}

.emptyArea{
    background-color: white;
    width: 20px;
    height: 34px;
    border-top-left-radius: 20px; /* Border radius bên trái ở trên */
    border-bottom-left-radius: 20px; /* Border radius bên trái ở dưới */
}

.chat-friend{
  width: 400px;
  height: 34px;
  border: 1px solid #ccc;
  border: none;
  border-top-right-radius: 20px; /* Border radius bên phải ở trên */
  border-bottom-right-radius: 20px; /* Border radius bên phải ở dưới */
}

.chat-friend:focus {
  outline: none; 
  border: none; 
}