.head-log {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 80px;
  box-shadow: 10px 0px 4px #888888, -1em 0 .4em #888888;
}

.Logo-Log {
  width: 150px;
  height: 150px;
}

.input-log-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.input-log {
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border: none;
  border-radius: 20px;
}

.input-log:focus {
  outline: none; 
  border: none; 
}

.search-icon {
  padding: 4px 8px 1px 10px;
}

.search-icon img {
  width: 17px; 
  height: 17px; 
}

.enter-log-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1; 
}

.input-log-container-friend{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin: 10px 15px 10px 10px;
  height: 34px;
}

.input-log-friend{
  width: 400px;
  height: 34px;
  border: 1px solid #ccc;
  border: none;
  border-radius: 20px;
}

.input-log-friend:focus {
  outline: none; 
  border: none; 
}

.enter-log {
  margin-left: 10px; 
  background-color: #E4E6EB;
  height: 40px;
  width: 40px;
  margin: 20px;
  border-radius: 90px;
}

.enter-log:hover{
  opacity: 0.7;
}

.enter-log:active{
  opacity: 0.6;
}

.icon-log {
  width: 25px; 
  height: 25px;
  margin-top: 7px;
  margin-left: 8px;
  cursor: pointer; 
}

.container-menu {
  display: flex;
  justify-content: space-between;
}

.sidebar-log-left{
  position: fixed;
  left: 0;
  top: 80px;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #c9bebe;
  flex: 1;
}

.nametab{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0 0 10px; 
}

.sidebar-button-left{
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
  left: 0;
  border: none;
  background: #E1E1E4;
  padding: 10px;
  border-radius: 7px;
  max-width: 200px;
}

.Name-icon{
  white-space: nowrap;
  padding-right: 70px;
}

.sidebar-button-left:hover{
  opacity: 0.7;
  background: #fcfcfc8f;
}

.sidebar-button-left:active{
  opacity: 0.6;
}

.sidebar-icon{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.sidebar-log-right{
  position: fixed;
  right: 0;
  top: 80px;
  width: 250px;
  height: 100vh;
  border-left: 1px solid #c9bebe;
  flex: 1;
}

.sidebar-button-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 20px;
  align-items: center;
  right: 0;
  border: none;
  background: #CBD7FD;
  padding: 10px;
  border-radius: 7px;
}

.sidebar-button-right:hover{
  opacity: 0.7;
  background: #fcfcfc8f;
}

.sidebar-button-right:active{
  opacity: 0.6;
}