.Post-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin-left: 75px;
    margin-right: 380px;
}

/* strories-post */

.strories-post,
.create-post{
    margin-left: 300px;
    margin-top: 20px;
}

.video-stores-container {
    display: flex;
    align-items: stretch;
    justify-content: start;
    border: none;
    padding: 10px;
    width: 730px;
    box-shadow: 3px 3px 2px 0px #888888;
    border-bottom-right-radius: 10px;
}
  
.video-stores-post {
    width: 122px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    background: #888888;
    padding-top: 10px;
    flex-grow: 1;
    object-fit: fill;
} 

.video-stores-post:hover{
    opacity: 0.8;
}

.video-stores-post:active{
    opacity: 0.6;
}
  
.video-stores-post:nth-child(n+7) {
    display: none;
}

.video-stores-postf{
    width: 120px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin: 10px 20px 10px 0;
    flex-grow: 1
}

.video-stores-postf:hover{
    opacity: 0.8;
}

.video-stores-postf:active{
    opacity: 0.6;
}

.icon-post{
    width: 32px;
    height: 32px;
}

.leftarrow-post{
    display: flex;
    position: absolute;
    justify-content: end;
    margin-top: 90px;
    background: #3e404272;
    border: none;
    border-radius: 90px;
    margin-left: 10px;
    padding: 5px;
}

.leftarrow-post:hover{
    opacity: 0.3;
}

.leftarrow-post:active{
    opacity: 0.7;
}

.rightarrow-post{
    display: flex;
    position: absolute;
    margin-top: 90px;
    margin-left: 660px;
    background: #3e404272;
    border: none;
    border-radius: 90px;
    padding: 5px;
}

.rightarrow-post:hover{
    opacity: 0.9;
}

.rightarrow-post:active{
    opacity: 0.7;
}

/* create-post */

.create-post {
    display: flex;
    justify-content: start;
    height: 60px;
    margin-top: 40px;
    border: none;
    padding: 10px;
    box-shadow: 3px 3px 2px 0px #88888872;
    border-bottom-right-radius: 10px;
    width: max-content;
}
  

.input-log-container-post {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.avatar-post{
    margin-left: 10px; 
    background-color: #8d90966f;
    height:40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 90px;
}

.none-space{
    padding: 4px 8px 1px 10px;
}

.input-log-post{
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    border: none;
    border-radius: 20px;
}

.input-log-post::placeholder {
    right: 10px;
}

.input-log-post:focus {
    outline: none; 
    border: none; 
}

.icon-log-post{
    width: 25px; 
    height: 25px;
    margin: 6px 20px 10px 20px;
    cursor: pointer; 
}

.icon-log-post:hover{
    opacity: 0.8;
}

.icon-log-post:active{
    opacity: 0.5;
}