.head-log {
  display: flex;
  position: fixed;
  z-index: 2; 
  top: 0;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 10px 0px 4px #888888, -1em 0 .4em #888888;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
  
.Logo-Log {
  width: 85px;
  height: 70px;
  cursor: pointer;
  margin: 10px 30px 10px 30px;
}
  
.input-log-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}
  
.input-log {
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border: none;
  border-radius: 20px;
}
  
.input-log:focus {
  outline: none; 
  border: none; 
}
  
.search-icon {
  padding: 4px 8px 1px 10px;
}
  
.search-icon img {
  width: 17px; 
  height: 17px; 
}
  
.enter-log-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1; 
}


/* menu list user */
.tabUserLocal{
  display: flex;
  justify-content: end;
  margin-right: 10px;
}
.tabUser{
  position: absolute;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e5e4e4, #b9c7f3);
  width: 350px;
  height: 264px;
  margin-top: 1px;
  border-radius: 8px;
  z-index: 5;
  overflow: hidden; 
  padding: 15px;
}

.iconTab{
  width: 40px;
  height: 40px;
  background-color: #bdcaf6;
  border-radius: 50px;
  padding: 7px;
  margin-right: 20px;
}

.personalPage{
  margin-right: 21px;
  width: 25px;
  height: 25px;
}

.ClicktabUser{
  display: flex;
  justify-content: start;
  left: 0;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e5e4e4, #b9c7f3);
  border: none;
  padding: 10px;
  border-radius: 7px;
  width: 300px;
  cursor: pointer;
}

.ClicktabUser:hover{
  opacity: 0.7;
  background: #fcfcfc8f;
}

.ClicktabUser:active{
  opacity: 0.6;
}

.NametabUser{
  white-space: nowrap;
  padding: 11px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
}
