.head-log {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.Logo-Log {
  width: 150px;
  height: 150px;

}

.input-log-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.input-log {
  width: 400px;
  height: 35px;
  border: 1px solid #ccc;
  border: none;
  border-radius: 20px;
}

.input-log:focus {
  outline: none; 
  border: none; 
}


.search-icon {
  right: 8px; 
  padding: 9px;
}

.search-icon img {
  width: 17px; 
  height: 17px; 
  padding-top: 1px;
}

.enter-log-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1; 
}

.enter-log {
  margin-left: 10px; 
  background-color: #E4E6EB;
  height: 50px;
  width: 50px;
  margin: 20px;
  border-radius: 90px;
}

.enter-log:hover{
  opacity: 0.7;
}

.enter-log:active{
  opacity: 0.6;
}

.icon-log {
  width: 30px; 
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer; 
}