/* Create the frame */
:root{
    --margin-left:10%;
    --margin-right:10%;
}

/* header-user */

.header-user{
    width: 90%;
    height: 300px;
    position: relative;
}

.BG-user{
    width: 98%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
    position: relative;
    margin-left: calc(var(--margin-left) - 3%);
}

.Camara-user{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 80%;
    left: 100%; 
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

/* contener-name-user */
.contener-name-user{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -70px;
    border-bottom: 1px solid #8888;
    padding-bottom: 50px;
    margin-left: calc(var(--margin-left) - 3%);
    margin-right: calc(var(--margin-right) - 3%);
}

/* contener avatar  */
.avatar{
    margin-left: 100px;
    position: relative;
}

.avatar img {
    width: 180px;
    height: 180px;
}

.camera-chose-img{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    top: 135px;
    left: 137px;
    padding: 4px 0 0 4px;
    cursor: pointer;
}

.camera-chose-img img{
    width: 22px;
    height: 22px;
    padding-left: 1px;
}

.Edit-Profile-user{
    display: flex;
    width: auto;
    height: 30px;
    margin-top: 98px;
    padding: 6px 10px 5px 10px;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.Edit-Profile-user:hover{
    opacity: 0.8;
}

.Edit-Profile-user:active{
    opacity: 0.7;
}

.Edit-Profile-user img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

.local-name{
    margin-left: 200px;
    margin-top: -90px;
}

.local-name div{
    font-size: 13px;

}

/* info-user */

.info-user{
    width: 300px;
    height: auto;
    margin-left: var(--margin-left);

    /* manke it stay here */
    /* position: fixed;
    bottom: 5px; */
}

.introdution-user{
    line-height: 2;
    padding: 0 10px 30px 10px;
    box-shadow: 3px 3px 2px 0px #888888;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* add images user */

.img-user{
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 20px 10px 30px 10px;
    box-shadow: 3px 3px 2px 0px #888888;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.user-add-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.user-add-img img{
    width: 60px;
    height: 50px;
}

/* user post */
.contener-user-post{
    margin-left: 500px; 
    margin-top: -550px;
}

/* contener post news */
.create-post-user{
    display: flex;
    justify-content: start;
    height: 60px;
    border: none;
    padding: 10px;
    box-shadow: 3px 3px 2px 0px #88888872;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: calc(25% - var(--margin-right));
}
  
.icon-log-user {
    width: 32px; 
    height: 32px;
    margin: 4px 20px 0px 8px;
    cursor: pointer; 
}


/* post news */

.new-post-container{
    justify-content: start;
    border: none;
    padding: 18px;
    box-shadow: 3px 3px 2px 0px #888888;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 25px;
    margin-right: calc(25% - var(--margin-right));
}

.new-post-container p{
    padding-bottom: 5px;
}

.container-img{
    display: flex;
}

.img-post-user{
    width: 49%;
    height: auto;
    margin: 2px;
    object-fit: fill;
}