.header-user,
.contener-name-user{
    margin-left: 10%;
    margin-right: 10%;
}

/* header-user */

.header-user{
    width: 80%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.BG-user{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
    position: relative;
}

.Camara-user{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 80%;
    left: 95%; 
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

/* contener-name-user */
.contener-name-user{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
}
.avatar{
    margin-left: 100px;
    position: relative;
}

.camera-chose-img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    top: 90px;
    left: 100px;
    padding: 4px 0 0 4px;
}

.camera-chose-img img{
    width: 20px;
    height: 20px;
    padding-left: 1px;
}

.Edit-Profile-user{
    display: flex;
    width: auto;
    height: 30px;
    margin-top: 70px;
    padding: 6px 10px 5px 10px;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.Edit-Profile-user:hover{
    opacity: 0.8;
}

.Edit-Profile-user:active{
    opacity: 0.7;
}

.Edit-Profile-user img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 4px;
}